**Задача 1**. Дано слово из латинских букв. Напишите скрипт, который выводит на экран букву из середины слова (если число букв нечетное). Если букв четное число, то на экран выводятся две буквы из середины.  

Пример: для 'test' должно выводится 'es', для 'testing' - 't'

In [ ]:
word = 'integer'
word[3]

In [ ]:
word = 'integer'
word[-4]

In [ ]:
word = 'capitalize'
word[4:6]

In [ ]:
word = 'capitalize'
word[-6:-4]

**Задача 2**. Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек (их число может варьироваться):

In [55]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
boys = sorted(boys)
girls = sorted(girls)
couples = zip(boys, girls)
print('Идеальные пары:')
for couples_2 in couples:
    print(couples_2[0], 'и', couples_2[1])

Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

Выдвигаем гипотезу: лучшие рекомендации мы получим, если просто отсортируем имена по алфавиту и познакомим людей с одинаковыми индексами после сортировки! "Познакомить" пары нам поможет функция zip, а в цикле распакуем zip-объект и выведем информацию в виде:

Идеальные пары:  
Alex и Emma  
Arthur и Kate  
John и Kira  
Peter и Liza  
Richard и Trisha

**Внимание! Если количество людей в списках будет не совпадать, то мы никого знакомить не будет и выведем пользователю предупреждение, что кто-то может остаться без пары!**

**Задача 3**. У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за недельный период по странам.
Необходимо написать код, который рассчитает среднюю температуру за неделю в Цельсиях для каждой страны.

In [27]:
countries_temperature = [['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
 ['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]],
 ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
 ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]]]
print('Week average temperature in C:')
for country in countries_temperature:
    print(country[0], ((sum(country[1]) / 7) - 32) * 5 / 9)

Week average temperature in C:
Thailand 23.85714285714285
Germany 13.71428571428571
Russia 3.714285714285717
Poland 11.857142857142856

**Задача 4.** Дан поток логов по количеству просмотренных страниц для каждого пользователя. Список отсортирован по ID пользователя. Вам необходимо написать алгоритм, который считает среднее значение просмотров на пользователя. 
Т. е. надо посчитать отношение суммы всех просмотров к количеству уникальных пользователей.

In [257]:
stream = ['2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',]
logs = []
reviews = []
for users in stream:
    user_id = users.split(',')
    print(user_id)
    if user_id[1] not in logs:
        logs.append(user_id[1])
    reviews.append(int(user_id[2]))
print(logs)
print(reviews)
print(len(logs))
ttl_reviews = sum(reviews)
print(ttl_reviews)
print('Aver reviews per log:', ttl_reviews // len(logs))

['2018-01-01', 'user1', '3']
['2018-01-07', 'user1', '4']
['2018-03-29', 'user1', '1']
['2018-04-04', 'user1', '13']
['2018-01-05', 'user2', '7']
['2018-06-14', 'user3', '4']
['2018-07-02', 'user3', '10']
['2018-03-21', 'user4', '19']
['2018-03-22', 'user4', '4']
['2018-04-22', 'user4', '8']
['2018-05-03', 'user4', '9']
['2018-05-11', 'user4', '11']
['user1', 'user2', 'user3', 'user4']
[3, 4, 1, 13, 7, 4, 10, 19, 4, 8, 9, 11]
4
93
Aver reviews per log: 23

**Задача 5**. Дана статистика рекламных кампаний по дням. Напишите алгоритм, который по паре дата-кампания ищет значение численного столбца. 
Т. е. для даты '2018-01-01' и 'google' нужно получить число 25. 
Считайте, что все комбинации дата-кампания уникальны.

In [270]:
stats = [
    ['2018-01-01', 'google', 25],
    ['2018-01-01', 'yandex', 65],
    ['2018-01-01', 'market', 89],
    ['2018-01-02', 'google', 574],
    ['2018-01-02', 'yandex', 249],
    ['2018-01-02', 'market', 994],
    ['2018-01-03', 'google', 1843],
    ['2018-01-03', 'yandex', 1327],
    ['2018-01-03', 'market', 1764],]
date = input('Дата ГГГГ-ММ-ДД: ')
company = input('Кампаня: ')
for data in stats:
    if data[0] == date and data [1] == company:
        print('Рекламных кампаний:', data[2])

Дата ГГГГ-ММ-ДД: 2018-01-01
Кампаня: google
Рекламных кампаний: 25

**Задача 6**. Дан список вида:

In [467]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]]
sum_ = 0
for y, x in enumerate(data):
    print(x[y])
# следующий этап - выделить каждый элемент из списка и добавить в sum_
# sum(sum_) = 103
# не смогла найти в упражнениях урока пример как делать выделение элемента после индексации строк списка. 
# в доп.материалах подходящих примеров тоже не нашлось. все примеры заканчиваются применением фукнции enumerate()
# просьба показать как дальше работаь с полученным индексированным списком

13
32
23
35

Напишите код, который будет вычислять сумму элементов на диагонали. Т. е. 13+32+23+35.  
Список может быть любой длины, но всегда является "квадратным" (количество элементов во вложенных списках равно их количеству).